# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.egg-info/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Logs
*.log

# Configuration files
*.json
*.yml

# Miscellaneous
*.bak
*.tmp
*.swp
